name: Unit testing
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Run Unit tests
      run: |
        pip install .
        pip install pytest
        pip install -r requirements.txt
        cd unit_test
        pytest test_validate_workflow.py
        pytest test_validate_plugin/
